body {
    background-color: #cbe4fa; /* Light color background */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

hr {
    border: 1px solid #000;
}

.container {
    display: flex;
}

.left {
    flex: 1;
    max-width: 150px;
}

.left img {
    width: 100%;
    border-radius: 10px;
}

.right {
    flex: 3;
    padding-left: 20px;
}

pre {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
